body {
    font-size: 14px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
#header {
    background: orange;
    padding: 30px 20px;
}

#header .subtitle {
    font-size: 0.8rem;
    margin-top: 4px;
}

#content {
    display: flex;
    margin-top: 20px;
}

.totals td {
    border-top: 3px solid #ccc;
}

#header .container {
    width: auto;
}

.navbar-brand{
    font-size: 36px;
    color: black;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #286090;
}

.navbar-default {
    background-color: #0f006f;
    border-color: transparent;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}

.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #286090;
}

.accounts-page{
    display: flex;
    flex-flow: row wrap;
}
.account-chart {
    width: 400px;
    padding-top: 90px;
    margin-left: 27px;
    padding-bottom: 40px;
    padding-left:30px;
    padding-right: 30px;
    background-color: #F7E7BD;
}

.ReactTable .-pagination .-previous,
.ReactTable .-pagination .-next {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
}

.ReactTable .rt-thead .rt-tr {
    background-color: #F6A03D;
}

.ReactTable.-striped .rt-tr.-odd {
    background-color: #F7E7BD;
}

.ReactTable .-pagination .-btn {
    background-color: #F6A03D;
}

.accounts-header{
    display: flex;
    flex: 1 100%;
    justify-content: space-between;
    margin-bottom: 10px;
 }



